<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-light navbar-fixed-top" style="background-color: #1F74AD;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Dashboard</a>
                @*<button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">*@
                    <!--<span class="navbar-toggler-icon"></span>
                </button>-->
            </div>
            <div class="collapse navbar-collapse" id=".navbar-collapse">
                
                <!--Items del menú-->
                
                <ul class="nav navbar-nav me-auto mb-2" lg-0>
                    
                    <!--Mantenimientos-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false" )><i class=""></i>Mantenimientos</a>

                        <!--subitems de Mant-->

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <li><a class="dropdown-item" href="#">Entrada de Docs x pagar</a></li>
                            <li><a class="dropdown-item" href="#">Conceptos</a></li>
                            <li><a class="dropdown-item" href="#">Provedores</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Parámetros</a></li>
                        </ul>

                    </li>

                    <!--Procesos-->

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false" )>Procesos</a>
                        <!--subitems de Proc-->
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <li><a class="dropdown-item" href="#">Pago de cuenta</a></li>
                            <li><a class="dropdown-item" href="#">Cierre</a></li>
                            <li><hr class="dropdown-divider"></li>
                        </ul>

                    </li>

                    <!--Consultas-->

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false" )>Consultas</a>
                        <!--subitems de Cons-->
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <li><a class="dropdown-item" href="#">Consulta de cierres</a></li>
                            <li><a class="dropdown-item" href="#">Consulta de parámetros</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Consulta de provedores</a></li>
                            <li><a class="dropdown-item" href="#">Consulta de conceptos</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Consulta de facturas</a></li>
                            <li><a class="dropdown-item" href="#">Consulta de pendientes</a></li>
                            <li><hr class="dropdown-divider"></li>
                        </ul>

                    </li>

                    <!--Reportes-->

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false" )>Reportes</a>
                        <!--subitems de Reports-->
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <li><a class="dropdown-item" href="#">Reportes de cierres</a></li>
                            <li><a class="dropdown-item" href="#">Reportes de parámetros</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Reportes de provedores</a></li>
                            <li><a class="dropdown-item" href="#">Reportes de conceptos</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Reportes de facturas</a></li>
                            <li><a class="dropdown-item" href="#">Reportes de pendientes</a></li>
                            <li><hr class="dropdown-divider"></li>
                        </ul>

                    </li>


                </ul>


  </div>
            </div>
        </div>


    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Cuentas por pagar", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>*@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
